* {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin-top: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* nav menu */

nav {
  display: flex;
	align-items: center;
	height: 100px;
	font-family: "888", verdana, sans-serif;
	position: fixed;
  width: 100%;
  padding: 5px 60px;
  background-color: #ff1616;
}

.logo {
  width: 170px;
  height: 95%;
}


.menu {
  display: flex;
}

.access {
  background-color: #58a700;
  width: 200px;
  height: 40px;
  border-radius: 15px;
  margin: 0px 50px; 
  font-size: 13px;
}



.nav-links {
  display: flex;
  width: 50%;
  margin-left: 45%;
  padding-right: 5%;
}


.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links li {
  list-style-type: none;
  text-align: center;
}

.burger {
  margin-left: 65%;
  display: none;
}

.burger div {
  width: 25px;
	height: 3px;
	background-color: black;
	margin: 5px;
}




.toggle .line1{
	transform: rotate(135deg) translate(5px, -6px);
	transition: 0.4s ease-out;
}

.toggle .line2{
  opacity: 0;
  transition: 0.4s ease-out;
}

.toggle .line3{
	transform: rotate(-135deg) translate(5px, 6px);
	transition: 0.4s ease-out;
}

.untoggle .line1{
	transform: rotate(-180deg) translate(5px, -5px);
	transition: 0.4s ease-out;
}

.untoggle .line2{
  opacity: 1;
  transform: translate(-5px, 5px);
  transition: 0.4s ease-out;
}

.untoggle .line3{
	transform: rotate(180deg) translate(5px, -5px);
	transition: 0.4s ease-out;
}

.spacer {
  padding-top: 105px;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 105px;
    z-index: 3;
    margin-left: calc(50% - 105px);
  }
  

  .hide {
    opacity: 0;
  }

  .burger {
    display: block;
    z-index: 3;
  }

  .nav-links {
    display: flex;
    width: 0%;
    margin-left: 0%;
  }

  .nav-active a {
    text-decoration: none;
    color: white;
  }
  
  .nav-active li {
    list-style-type: none;
    margin-top: 75px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    
  }

  .nav-active {
    display: block;
    height: calc(100vh);
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    width: 30%;
    transition: 0.2s ease-out;
    border-top: 1px solid white;
    z-index: 2;
  }


}

@media screen and (max-width: 450px) {
  
  .burger {
    margin-left: 35%;
  }

}



/* end of nav menu*/

/* start of register page */

.register {
  padding-top: 10px;
  background-image: url('./mainImg.png');
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
  height: 60vh;
  background-color: #ff1616;
  display: flex;
}

.register h1 {
  text-align: right;
  align-self: flex-start;
  justify-content: center;
  color: #fff647;
}

.register li {
  list-style: none;
}

.register a {
  text-decoration: none;
  color: white;
}

.register li:hover {
  cursor: pointer;
}

.register ul {
  align-self: flex-end;
  padding-bottom: 15px;
  margin-right: -25%;
}

.register li {
  margin-bottom: 10px;
  text-align: center;
}

.access:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .register {
    background-size: 60%;
  }
  .register h1 {
    text-align: center;
    width: 300px;
  }
  .register ul {
    margin-right: -35px;
  }
}



/* start of copy */

.firstRow {
  display: flex;
  background-color: white;
}

.paragraph1 {
  flex: 50%;
  padding: 50px 20px;
  height: 500px;
  width: 90%;
}

.paragraph1 ul {
  padding-left: 20px;
}

.paragraph1 li {
  padding-bottom: 10px;
  text-decoration: underline;
}

.signUp1 {
  flex: 40%;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .firstRow {
    display: block;
    width: 100%;
    padding-right: 0px;
    margin-right: 0px;
    overflow: hidden;
    background-size: 500%;
  }
  .paragraph1 {
    width: 100%;
    flex: 0%;
    padding: 0;
  }
  .paragraph1 ul {
    width: 90%;
  }
  .signUp1 {
    margin-top: 0px;
    width: 80%;
    height: 550px;
    flex: 0;
    padding: 0;
    padding-left: 10%;
  }
}


/* end of first part of page*/
/* start of sample email */

.sampleEmail {
  width: 90%;
  margin: auto;
  height: 100%;
  margin-left: 10px;
  overflow-x: hidden;
}


.sampleButtons {
  display: flex;
  width: 80%;
  margin: auto;
}

.sampleButtons > button {
  margin: 0 10px;
}
.newWords li {
  display: inline;
}


/* End Of sample email*/
.active {
  background-color: green;
}

.signUp {
  display: block;
  max-width: 100%;
}


.words {
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
}

.newAdds {
  width: 100%;
  display: flex;
}

.newAdds h3 {
  width: 8.5%;
  text-align: center;
}

.newAdds button {
  margin: auto 5px auto 5px;
}

.dayButtons {
  display: flex;
  flex-wrap: wrap;
}

.dayButtons > button {
  width: 40px;
  display: block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.adminPage {
  width: 80%;
}

.adminTable {
  table-layout: fixed;
  width:  100%;
}

.adminTable td {
  width: 33%;
  padding: 5px;
  text-align: left;
  vertical-align: text-top;
}


.submited {
  opacity: .5;
}

textarea {
  height: 100px;
}

.line {
  border-bottom: 1px solid black;
  width: 100%;
  height: 30px;
}


.adminBtn {
  width: 70px;
  height: 50px;
  margin: 5px 10px 5px 5px;
}

.newQuestion {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px dotted black;
}

.newQuestion > button {
  width: 30px;
  height: 20px; 
  margin-top: 5%;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  top: calc(40% - 20px);
  left: calc(50% - 20px);
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}

.eachDayPage {
  display: flex;
  width: 100%;
}

.final {
  width: 45%;
}

.langPage {
  margin: 1% 2.5%;
  border: #224d68 2px solid;
  border-radius: 20px;
  width: 95%;
  overflow-x: hidden;
  padding: 10px;
}
.language {
  display: flex;
  width: 80%;
  padding: 0px 0px 0px 10px;
  text-align: left;
  height: 45px;
  font-size: 16px;
  margin: 0px 10% 10px 10%;
}

.language img {
  margin: auto;
  height: 35px;
  width: 35px;
}

.language p {
  margin: auto;
  padding-left: 10px;
}

.question {
  display: inline-flex;
  margin-left: 5%;
  width: 100%;
}

.question div {
  width: auto;
  margin-right: 1%;
}

.opening {
  width: 40px;
  margin-right: 1%;
}

.hidden {
  display: none;
}

.progress {
  width: 100%;
}

.correct {
  margin-top: 25px;
  margin-left: 25%;
  display: inline-block;
  border: 1px solid #58a700;
  text-align: center;
  width: 50%;
  height: 50px;
  line-height: 50px;
}

@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,1);
  }
  100% {
      transform: scale(1.5,1.5);
  }
}

.correct {
  animation: zoominoutsinglefeatured 2.5s;
}


/* for dashboard words*/


.todaysWords {
  list-style-type: none;
}
.singleWords p {
  padding: 2px 10px;
}

.addedWords p {
  padding: 2px 10px;
  width: max-content;
  background-color: beige;

}